$primary: #167D77;
$secondary-green-dark: #0E4F4B;
$secondary-green-light: #74A09C;
$secondary-blue: #0E1D2A;
$secondary-green-gray: #0E1D2A;
$gray-one: #282828;
$gray-contrast: #525252;
$gray-80: #757575;
$gray-60: #9398A1;
$gray-disabled: #9398A1;
$gray-background: #F2F5F5;
$white: #FFFFFF;
$system-error: #D92D20;

